<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nxsmatsumoto.scoreeditor_lyricsguitarcode_">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_48dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_shortname" >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".ScoreBrowseActivity" />
        <activity android:name=".ScoreEditActivity" />
        <activity android:name=".DiagramEditActivity" />
        <activity android:name=".ExportActivity" />
        <activity android:name=".LibraryFragment" />
        <activity android:name=".DiagramFragment" />

    </application>

</manifest>